* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

.app {
    height: 100%;
    padding: 80px;

    display: flex;
    flex-direction: column;
}

.blocks {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(87, 189, 214);
}
